

.modal-header{
    border-bottom: none;
}

.modal-footer{

    border-top: none;
    background: #f9f9f9;

    .btn {
        font-weight: 600;
    }
    // .btn-link{
    //     font-weight: 500;
    // }
    // .btn-primary{
    //     font-weight: 500;

    // }
}