
.modal-backdrop {
    opacity: .5;
}

.modal-header,
.alert {
    .close {
        padding: 0.3rem 1.75rem;
        background: transparent;
        border: 0;
        font-size: 25px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: .5;
        width: 1em;
        height: 1em;
        z-index: 2;
        color: inherit;
        button {
            display: none;
        }
    }
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.vhd__datepicker__input {
    height: $input-height !important;
    line-height: $input-height !important;
}

.form-check {
    .custom-control-input {
        border-radius: .25em;
        float: left;
        margin: 3px 3px 3px -19px !important;
    }
}

.check-group {
    input {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }    
}

.custom-select {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .7875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.owl-nav {
    margin-top: 16px;
    text-align: center;

    button {
        width: 30px;
        height: 30px;
        line-height: 28px !important;
        font-size: 20px !important;
        border-radius: 50% !important;
        background-color: rgba($primary, 0.25) !important;
        color: $primary !important;
        margin: 4px 8px !important;
        border: none;
    }
}
.form-row {
    display: flex;
    flex-wrap: wrap;
}

.vhd__datepicker__input {
    height: $input-height !important;
    line-height: $input-height !important;
}

.form-check {
    .custom-control-input {
        border-radius: .25em;
        float: left;
        margin: 3px 3px 3px -19px !important;
    }
}

.check-group {
    input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }
}

.form-check {
    .custom-control-input {
        background-color: #556ee6;
        border-color: #556ee6;
    }
}


.card-header {
    background: #f9f9f9;
    display: flex;
    h2.card-title {
        flex: 1 1 auto;
        min-height: 1.75rem;
        margin: 0;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75;
    }
    .card-options {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-left: 1.25rem;
        .btn-block-option {
            display: inline-block;
            padding: 6px 5px;
            line-height: 1;
            color: #0665d0;
            background: 0 0;
            border: none;
            cursor: pointer;
        }
        .btn-block-option:hover {
            text-decoration: none;
            color: #2a8bf9;
        }
    }

}

a.text-decoration:hover{
    text-decoration: underline !important
}
// Tables
.bs-nro-document-col {
    max-width: 200px !important;
    width: 200px !important;
    text-align: center !important;
}
.bs-date-col {
    max-width: 160px !important;
    width: 160px !important;
    text-align: center !important;
}
.bs-date-col-left {
    max-width: 160px !important;
    width: 160px !important;
    text-align: left !important;
}
.bs-option-col-header {
    max-width: 160px !important;
    width: 160px !important;
    text-align: center;
}
.bs-option-col {
    text-align: center;
    width: 160px !important;
    ul.two-options{
        width: 70px;
        text-align: left !important;
        margin: 0 auto;
    }
}
.bs-option-col-left {
    text-align: left;
    width: 160px !important;
}
.btn-upload-new-file {
    padding: 0 1.5rem 0.2rem;
    i {
      font-size: 1.4rem;
      margin-right: 0.5rem;
    }
  }

// Forms
.col-form-label {
    font-weight: 500;
}

// Badge
td{
    .badge {
        padding: 0.55em;
        font-size: 75%;
        font-weight: 700 !important;
    }

}


// Datepicker, Multiselect
.multiselect.is-invalid {
    .multiselect__tags {
      border: 1px solid #e04f1a !important;
    }
  }
  .multiselect.is-valid {
    .multiselect__tags {
      border: 1px solid #82b54b !important;
    }
  }
  .mx-datepicker.is-invalid {
    .mx-input-wrapper input {
      border: 1px solid #e04f1a !important;
    }
  }
  .mx-datepicker.is-valid {
    .mx-input-wrapper input {
      border: 1px solid #82b54b !important;
    }
  }

  .text-subsection {
    font-size: 0.8rem; 
    font-style: italic
  }